In [107]:
import pandas as pd
import numpy as np

pd.set_option('display.max_rows', 25)

df = pd.read_csv('assignment_3_data.csv')
df

,x0,x1,x34,x35,x36,x41,x45,x46,x68,x84,x93,x94,y
0,0.196063,3.683995,tesla,thurday,-4.664154,$124.72,-0.01%,14.360555,Jun,-11.072770,asia,0.023357,1
1,23.155197,-9.226725,Toyota,thur,5.220242,"$1,273.04",-0.01%,0.328324,July,4.601376,asia,1.349389,2
2,-13.969618,-0.343978,bmw,wednesday,-0.061424,"($1,651.19)",0.00%,3.824882,Aug,17.351746,asia,2.149993,1
3,49.722481,-1.500789,Toyota,wed,1.908461,$896.05,0.01%,-6.201024,Aug,6.084073,asia,-3.052037,0
4,-13.494403,7.445215,Honda,wednesday,0.074133,"($1,710.27)",0.01%,-12.547338,May,10.035783,asia,-0.100660,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
994,18.373405,-7.902737,volkswagon,wed,-3.651558,"($1,520.19)",0.00%,-4.009639,Oct,8.519576,asia,-0.790982,1
995,55.762861,-11.687225,bmw,thurday,3.204393,$687.44,-0.02%,-13.827186,July,4.745582,asia,2.529016,0
996,-8.957643,11.970364,Honda,wednesday,0.309493,$419.60,0.00%,2.905907,May,-0.643147,asia,0.600268,-2
997,5.887040,5.370001,volkswagon,thurday,-3.700755,"($1,214.32)",-0.01%,3.089698,July,-5.489663,euorpe,1.017123,-1
998,6.778203,-6.325029,volkswagon,wed,-3.745862,$980.70,-0.01%,8.173062,Jun,12.089001,america,-0.290048,0

In [108]:
# Lowercase all car brands in column x34
df['x34'] = df['x34'].str.lower()
df

,x0,x1,x34,x35,x36,x41,x45,x46,x68,x84,x93,x94,y
0,0.196063,3.683995,tesla,thurday,-4.664154,$124.72,-0.01%,14.360555,Jun,-11.072770,asia,0.023357,1
1,23.155197,-9.226725,toyota,thur,5.220242,"$1,273.04",-0.01%,0.328324,July,4.601376,asia,1.349389,2
2,-13.969618,-0.343978,bmw,wednesday,-0.061424,"($1,651.19)",0.00%,3.824882,Aug,17.351746,asia,2.149993,1
3,49.722481,-1.500789,toyota,wed,1.908461,$896.05,0.01%,-6.201024,Aug,6.084073,asia,-3.052037,0
4,-13.494403,7.445215,honda,wednesday,0.074133,"($1,710.27)",0.01%,-12.547338,May,10.035783,asia,-0.100660,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
994,18.373405,-7.902737,volkswagon,wed,-3.651558,"($1,520.19)",0.00%,-4.009639,Oct,8.519576,asia,-0.790982,1
995,55.762861,-11.687225,bmw,thurday,3.204393,$687.44,-0.02%,-13.827186,July,4.745582,asia,2.529016,0
996,-8.957643,11.970364,honda,wednesday,0.309493,$419.60,0.00%,2.905907,May,-0.643147,asia,0.600268,-2
997,5.887040,5.370001,volkswagon,thurday,-3.700755,"($1,214.32)",-0.01%,3.089698,July,-5.489663,euorpe,1.017123,-1
998,6.778203,-6.325029,volkswagon,wed,-3.745862,$980.70,-0.01%,8.173062,Jun,12.089001,america,-0.290048,0

In [109]:
# In column x68, replace 'sept.' with 'Sept'
df["x68"].replace({'sept.': 'Sept', 'Dev': 'Dec'}, inplace=True)
df

,x0,x1,x34,x35,x36,x41,x45,x46,x68,x84,x93,x94,y
0,0.196063,3.683995,tesla,thurday,-4.664154,$124.72,-0.01%,14.360555,Jun,-11.072770,asia,0.023357,1
1,23.155197,-9.226725,toyota,thur,5.220242,"$1,273.04",-0.01%,0.328324,July,4.601376,asia,1.349389,2
2,-13.969618,-0.343978,bmw,wednesday,-0.061424,"($1,651.19)",0.00%,3.824882,Aug,17.351746,asia,2.149993,1
3,49.722481,-1.500789,toyota,wed,1.908461,$896.05,0.01%,-6.201024,Aug,6.084073,asia,-3.052037,0
4,-13.494403,7.445215,honda,wednesday,0.074133,"($1,710.27)",0.01%,-12.547338,May,10.035783,asia,-0.100660,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
994,18.373405,-7.902737,volkswagon,wed,-3.651558,"($1,520.19)",0.00%,-4.009639,Oct,8.519576,asia,-0.790982,1
995,55.762861,-11.687225,bmw,thurday,3.204393,$687.44,-0.02%,-13.827186,July,4.745582,asia,2.529016,0
996,-8.957643,11.970364,honda,wednesday,0.309493,$419.60,0.00%,2.905907,May,-0.643147,asia,0.600268,-2
997,5.887040,5.370001,volkswagon,thurday,-3.700755,"($1,214.32)",-0.01%,3.089698,July,-5.489663,euorpe,1.017123,-1
998,6.778203,-6.325029,volkswagon,wed,-3.745862,$980.70,-0.01%,8.173062,Jun,12.089001,america,-0.290048,0

In [110]:
# In column x35, make sure days are consistent
df["x35"].replace({
    'monday': 'mon', 
    'sunday': 'sun', 
    'saturday': 'sat', 
    'tuesday': 'tues', 
    'wednesday': 'wed', 
    'thurday': 'thur', 
    'friday': 'fri'}, 
    inplace=True)
df

,x0,x1,x34,x35,x36,x41,x45,x46,x68,x84,x93,x94,y
0,0.196063,3.683995,tesla,thur,-4.664154,$124.72,-0.01%,14.360555,Jun,-11.072770,asia,0.023357,1
1,23.155197,-9.226725,toyota,thur,5.220242,"$1,273.04",-0.01%,0.328324,July,4.601376,asia,1.349389,2
2,-13.969618,-0.343978,bmw,wed,-0.061424,"($1,651.19)",0.00%,3.824882,Aug,17.351746,asia,2.149993,1
3,49.722481,-1.500789,toyota,wed,1.908461,$896.05,0.01%,-6.201024,Aug,6.084073,asia,-3.052037,0
4,-13.494403,7.445215,honda,wed,0.074133,"($1,710.27)",0.01%,-12.547338,May,10.035783,asia,-0.100660,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
994,18.373405,-7.902737,volkswagon,wed,-3.651558,"($1,520.19)",0.00%,-4.009639,Oct,8.519576,asia,-0.790982,1
995,55.762861,-11.687225,bmw,thur,3.204393,$687.44,-0.02%,-13.827186,July,4.745582,asia,2.529016,0
996,-8.957643,11.970364,honda,wed,0.309493,$419.60,0.00%,2.905907,May,-0.643147,asia,0.600268,-2
997,5.887040,5.370001,volkswagon,thur,-3.700755,"($1,214.32)",-0.01%,3.089698,July,-5.489663,euorpe,1.017123,-1
998,6.778203,-6.325029,volkswagon,wed,-3.745862,$980.70,-0.01%,8.173062,Jun,12.089001,america,-0.290048,0

In [111]:
df['x41'] = df['x41'].str.replace('\$', '') # Remove dollar sign from column x41
df['x41'] = df['x41'].str.replace('(', '-') # Replace first paranthesis with negative symbol
df['x41'] = df['x41'].str.replace(')', '') # Remove last paranthesis
df['x41'] = df['x41'].str.replace(',', '') # Remove comma
df['x41'] = df['x41'].astype(float)
df

/var/folders/h8/gz6p2r657dbgvclv0p0zxy180000gn/T/ipykernel_26037/377914529.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['x41'] = df['x41'].str.replace('\$', '') # Remove dollar sign from column x41
/var/folders/h8/gz6p2r657dbgvclv0p0zxy180000gn/T/ipykernel_26037/377914529.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['x41'] = df['x41'].str.replace('(', '-') # Replace first paranthesis with negative symbol
/var/folders/h8/gz6p2r657dbgvclv0p0zxy180000gn/T/ipykernel_26037/377914529.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['x41'] = df['x41'].str.replace(')', '') # Remove last paranthesis

,x0,x1,x34,x35,x36,x41,x45,x46,x68,x84,x93,x94,y
0,0.196063,3.683995,tesla,thur,-4.664154,124.72,-0.01%,14.360555,Jun,-11.072770,asia,0.023357,1
1,23.155197,-9.226725,toyota,thur,5.220242,1273.04,-0.01%,0.328324,July,4.601376,asia,1.349389,2
2,-13.969618,-0.343978,bmw,wed,-0.061424,-1651.19,0.00%,3.824882,Aug,17.351746,asia,2.149993,1
3,49.722481,-1.500789,toyota,wed,1.908461,896.05,0.01%,-6.201024,Aug,6.084073,asia,-3.052037,0
4,-13.494403,7.445215,honda,wed,0.074133,-1710.27,0.01%,-12.547338,May,10.035783,asia,-0.100660,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
994,18.373405,-7.902737,volkswagon,wed,-3.651558,-1520.19,0.00%,-4.009639,Oct,8.519576,asia,-0.790982,1
995,55.762861,-11.687225,bmw,thur,3.204393,687.44,-0.02%,-13.827186,July,4.745582,asia,2.529016,0
996,-8.957643,11.970364,honda,wed,0.309493,419.60,0.00%,2.905907,May,-0.643147,asia,0.600268,-2
997,5.887040,5.370001,volkswagon,thur,-3.700755,-1214.32,-0.01%,3.089698,July,-5.489663,euorpe,1.017123,-1
998,6.778203,-6.325029,volkswagon,wed,-3.745862,980.70,-0.01%,8.173062,Jun,12.089001,america,-0.290048,0

In [112]:
df['x45'] = df['x45'].str.replace('%', '') # Remove percentage symbol
df['x45'] = df['x45'].astype(float) # Convert to float
df

,x0,x1,x34,x35,x36,x41,x45,x46,x68,x84,x93,x94,y
0,0.196063,3.683995,tesla,thur,-4.664154,124.72,-0.01,14.360555,Jun,-11.072770,asia,0.023357,1
1,23.155197,-9.226725,toyota,thur,5.220242,1273.04,-0.01,0.328324,July,4.601376,asia,1.349389,2
2,-13.969618,-0.343978,bmw,wed,-0.061424,-1651.19,0.00,3.824882,Aug,17.351746,asia,2.149993,1
3,49.722481,-1.500789,toyota,wed,1.908461,896.05,0.01,-6.201024,Aug,6.084073,asia,-3.052037,0
4,-13.494403,7.445215,honda,wed,0.074133,-1710.27,0.01,-12.547338,May,10.035783,asia,-0.100660,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
994,18.373405,-7.902737,volkswagon,wed,-3.651558,-1520.19,0.00,-4.009639,Oct,8.519576,asia,-0.790982,1
995,55.762861,-11.687225,bmw,thur,3.204393,687.44,-0.02,-13.827186,July,4.745582,asia,2.529016,0
996,-8.957643,11.970364,honda,wed,0.309493,419.60,0.00,2.905907,May,-0.643147,asia,0.600268,-2
997,5.887040,5.370001,volkswagon,thur,-3.700755,-1214.32,-0.01,3.089698,July,-5.489663,euorpe,1.017123,-1
998,6.778203,-6.325029,volkswagon,wed,-3.745862,980.70,-0.01,8.173062,Jun,12.089001,america,-0.290048,0

In [113]:
df.to_csv('clean_data_assignment_3.csv')