# Assignment 7: Predictive Model
Predictive Model\
Ismail Abdo Elmaliki\
CS 502 - Predictive Analytics\
Capitol Technology University\
Professor Frank Neugebauer\
February 16, 2022

## Data Understanding

## Info and Head
Right off the bat, we see that there are only two continuos columns: `temp_high` and `temp_low`.

Surprisingly `rain_amt` isn't continuous, so it may contain a value other than numeric. That'll require further investigation.

All columns from `brooklyn_bridge` to `total_cyclists` can be changed into a int64 type by removing the columns and casting all values as `int64`.

The last column called `unamed` appears to have one-null value. That'll require further investigation to determine the next course of action.

For `date` it appears that they correspond to days of April. So the right course of action would be to rename the column to `april` then include only the day values which would have a type of `int64` instead of object.

Finally, for the feature `day` we can apply feature engineering apply label encoding, where days would represent numbers 1 through 7 starting with Sunday.

In [3]:
import pandas as pd
import numpy as np

df = pd.read_csv('04_2017_bike_data.csv')
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   date                 30 non-null     object
 1   day                  30 non-null     object
 2   temp_high            30 non-null     float64
 3   temp_low             30 non-null     float64
 4   rain_amt             30 non-null     object
 5   brooklyn_bridge      30 non-null     object
 6   manhattan_bridge     30 non-null     object
 7   williamsburg_bridge  30 non-null     object
 8   queensboro_bridge    30 non-null     object
 9   total_cyclists       30 non-null     object
 10  Unnamed: 10          1 non-null      object
dtypes: float64(2), object(9)
memory usage: 2.7+ KB

,date,day,temp_high,temp_low,rain_amt,brooklyn_bridge,manhattan_bridge,williamsburg_bridge,queensboro_bridge,total_cyclists,Unnamed: 10
0,1-Apr,Saturday,46.0,37.0,0,606,"1,446","1,915","1,430","5,397",NaN
1,2-Apr,Sunday,62.1,41.0,0,"2,021","3,943","4,207","2,862","13,033",NaN
2,3-Apr,Monday,63.0,50.0,0.03,"2,470","4,988","5,178","3,689","16,325",NaN
3,4-Apr,Tuesday,51.1,46.0,1.18,723,"1,913","2,279","1,666","6,581",NaN
4,5-Apr,Wednesday,63.0,46.0,0,"2,807","5,276","5,711","4,197","17,991",NaN

### Futher investigating `rain_amt`
https://www.thoughtco.com/what-is-trace-of-precipitation-3444238
Displaying unique values for `rain_amt` appears to display an alphabetic value of `T`. After doing further research in the context of rain amount, T refers to trace - which describes very small amount of rain that results in no measurable accumulation (Oblack, 2019). The article also says that if Trace must be converted to a numerical value, it would equal 0.00.

In [7]:
df['rain_amt'].unique()

array(['0', '0.03', '1.18', '0.73', 'T', '0.02', '0.17', '0.29', '0.11',
       '0.91', '0.34', '0.06'], dtype=object)

### Further investigating `unnamed: 10`
After display unique values of the column `Unnamed: 10` we can breathe easy and proceed with deleting this column knowing it won't affect our predictive model setup later.

In [15]:
df['Unnamed: 10'].unique()

array([nan, ' '], dtype=object)

In [16]:
df.drop(columns='Unnamed: 10', inplace=True)

ValueError: Need to specify at least one of 'labels', 'index' or 'columns'